menu "MaPU SoC type"
	depends on ARCH_MAPU

config MACH_MAPU_A8
	bool "Support MaPU SoC for Cortex(tm)-A8"
	select CPU_V7
	select ARM_GIC
	select DW_APB_TIMER
	select ARM_AMBA
	help
	  Include support for the MaPU SoC platform.
	  This platform has a Cortex-A8 and 4 APE cores.
	  
choice
	prompt "Platform type"
	default MAPU_SIM

config MAPU_SIM
  depends on MACH_MAPU_A8
	bool "Gem5 Simulator"
	help
	  Support for ARM Gem5 simulator.

config MAPU_CHIP
  depends on MACH_MAPU_A8
	bool "Physical chip"
#	select NET_VENDOR_STMICRO
	help
	  Support for the real MaPU chips.
endchoice

endmenu
